

// In general I rename I name the 2 css based on the extension name


.widgetcoeElement {
	display: block;
	height: 100%;
	width: 100%;
}


.widgetcoeWidget {
	margin: auto;
	background-color: #DDDDDD;
	padding: 3px;
;
}


